<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Livvic:100,200,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/visualization.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/info-modal.css' /> -->
</head>


<body>
    <h1>You made it to my App page!</h1>
    <h1>This is where my data and D3 will go!</h1>
    <div id='app'></div>
    <div >
      <h2>The danceability factor of my first track</h2>
        <script>
          let features = <%- JSON.stringify(audio_features) %>  
          console.log(features)
          let danceability = document.createElement('div')
          danceability.innerHTML = features[0].danceability
          document.getElementById('app').appendChild(danceability)
        </script>
        
    </div>
</body>
</html>