<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Livvic:100,200,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/visualization.css' />
    <link rel='stylesheet' href='/stylesheets/info-modal.css' />
</head>


<body>
    <h1>You made it to my App page!</h1>

</body>
</html>