<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Livvic:100,200,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <title>

    </title>
    <link rel='stylesheet' href='src/stylesheets/visualization.css' />
    <link rel='stylesheet' href='/stylesheets/info-modal.css' />
</head>


<body>
<div class="modal-background modal0 show-modal" onclick="closeModal()">
  <div class="modal-child welcome" id="welcome-modal">
    <div class="exit-modal">X</div>
      <h1>danceability!</h1>
      <p><strong class="emphasis">see the danceability factor</strong> of your top Spotify tracks</p>
      <p>or <strong class="emphasis">hover over any circles</strong> to see your songs!</p>
  </div>
</div>
  
  <div id='app'></div>
  <div >
    <!-- <h2>The danceability factor of my first track</h2> -->
      <script>
        let features = <%- JSON.stringify(audio_features) %>  
          console.log(features)
        let danceability = document.createElement('div')

        
      </script>
  </div>

  </div>
</body>

  <script>

    danceability.innerHTML = features.map(feature => {
        return feature.danceability
      })
    document.getElementById('app').appendChild(danceability)
    
    const modals = document.getElementsByClassName("modal-background")


    function closeModal() {
      for (let i = 0; i < modals.length; i++) {
        if (modals[i].classList.contains('show-modal')) {
          modals[i].classList.remove('show-modal')
        }
      }
    }
  </script>

</html>