body {
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  user-select: none;
  position: relative;
  /* z-index: auto; */
  
}

svg {
  z-index: 2;
}

canvas {
  z-index: 1;
  position: absolute;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.title {
  font-size: 148px;
}

.button {
  font-size: 20px;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  outline: none;
  font-weight: 100;
  z-index: 10;
}

.button-outline {
  fill: #32cd32;
  z-index: 10;
}

rect {
  fill:#e3edf91e;
  pointer-events: all;
  font-weight: 100;

}

circle {
  fill: none;
  stroke-width: 2.5px;
}

